
*{
    padding:0;
    margin:0;
}
.options{
    padding:10px;
}
.input-group{
padding-top:10px;
padding-left: 10px;
padding-bottom: 10px;
}

table{
    padding:10px;
}
.line{
    background-color: grey;
    width:50rem;
    height: 0.8rem;
    margin:1rem;
    display: none;
    }
   .circle, .circle2{
    background-color: skyblue;
    width:1.5rem;
    height:1.5rem;
 display: none;

      border-radius: 50%;
   position: absolute;
  }
